@tailwind base;
@tailwind components;
@tailwind utilities;

@import url(https://fonts.googleapis.com/css?family=Amiri);

@font-face {
  font-family: "Font LPMQ Isep Misbah";
  src: url('assets/fonts/LPMQ-IsepMisbah.ttf');
}

@font-face {
  font-family: "Amiri";
  src: url('https://fonts.googleapis.com/css?family=Amiri');
}

@font-face {
  font-family: "Autumn in November";
  src: url(./assets/fonts/Autumn_in_November.ttf);
}

@font-face {
  font-family: "CaviarDreams_Bold";
  src: url(./assets/fonts/CaviarDreams_Bold.ttf);
}

@font-face {
  font-family: "Olivia-Regular";
  src: url(./assets/fonts/Olivia-Regular.otf);
}

.font_isep_misbah {
  font-family: "Amiri";
  /* --widgets-spacing: 20px; */
}

.font_autumn {
  font-family: "Autumn in November";
}

.font_caviar_dreams {
  font-family: "CaviarDreams_Bold";
}

.font_olivia_reguler {
  font-family: "Olivia-Regular";
}

.ayat {
  /* --widgets-spacing: 20px; */
  font-family: sans-serif;
  /* font-family: "Font LPMQ Isep Misbah"; */
  line-height: 2.2em;
  letter-spacing: 0em !important;
}




body {
  margin: 0;
  font-family: -apple-system,BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #F6FFEE;

  background: linear-gradient(#ecf2e6d4, #e2eadbb9), url('assets/background-invitation-wedding-templates-abstract-pattern.png');
  background-repeat: no-repeat;
  /* background-size:contain; */
  background-size: cover;
  background-position: center;

  /* background: linear-gradient(45deg, #e3e2f12f 25%, transparent 21%) , linear-gradient(315deg, #e3e2f10b 25%, transparent 21%), linear-gradient(45deg, #e3e2f153 10%, transparent 11%), linear-gradient(315deg, #e3e2f1 10%, transparent 11%),linear-gradient(135deg, #e3e2f180 25%, transparent 21%) , linear-gradient(225deg, #e3e2f13e 25%, transparent 21%), linear-gradient(135deg, #e3e2f174 10%, transparent 11%), linear-gradient(225deg, #e3e2f174 10%, transparent 11%), radial-gradient(#e3e2f142 20%, transparent 21%);
        background-size: 3em 3em;
        background-color: #F6FFEE;
        opacity: 1 */

}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 1rem;
}